@media (max-width:480px) {
    .card-body {
        margin: 2px;
        font-size: 10px;
    }

    .card-title {
        font-size: 15px;
    }

    .price {
        font-size: 10px;
    }

    .content {
        font-size: 30px;
    }

    .btn-primary {
        background-color: rgb(145, 21, 21);
        padding-bottom: 8px;
        margin: 9px;
    }

}

nav {
    background-color: rgba(0, 0, 0, 0.911);
    text-decoration: none;
    padding: 3rem;
    margin-top: -35px;

}

a {
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px solid transparent;
    font-size: 22px;
    font-family: Kalam static, regular;
    cursor: pointer;
}

a:hover {
    color: rgb(255, 8, 8);
}

a:active {
    color: rgb(88, 10, 10);
}

header {
    height: 100vh;
    min-height: 100px;
    background-size: cover;
    background-image: url(/images/background2.jpg);

}

.title {
    color: white;
    text-align: center;
    top: 40%;
    left: 17%;
    position:absolute;
    font-size: 150px;
    text-shadow: 6px 9px #00000052, 0 10px 10px #610600e0;

}

.logo img {
    height: auto;
    margin-left: -40px;
    margin-top: 16px;
    position: static;
    float:left;
    -webkit-animation: spin 0.6s linear infinite;
}

@-webkit-keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}


.cart {
    float: right;
    margin-top: -8px;
    width: 20px;
    height: auto;
}

footer {
    background-color: rgba(0, 0, 0, 0.911);
    color: white;
    padding: 2rem;
}

#itext {
    font-size: 20px;
    margin: 100px 800px 100px 60px;
    padding: 50px;
    border: rgba(0, 0, 0, 0.753) solid 3px;
    box-shadow: 1vw 1vw #000000be;
    border-radius: 2vw;
    object-fit: fill;
    background-color: white;
}

h2 {
    font-size: 40px;
    text-decoration: underline;
}

#art1 {
    position: absolute;
    right: 100px;
    top: 900px;
    max-width: 500px;
    width: 100%;
    object-fit: contain;
}

.dialogs {
    font-size: 20px;
    margin: auto;
    margin-bottom: 300px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
    padding: 50px 100px 50px 50px;
    border: 3px solid rgba(0, 0, 0, 0.753);
    border-radius: 2vw;
    background-color: rgb(255, 255, 255);
    box-shadow: 1vw 1vw #000000be;

}

label {
    height: 60px;
    padding: 20px;
    float: none;
}

#register {
    margin: 40px 30px 0px 10px;
    font-size: 30px;
    background-color: rgb(145, 21, 21);
    border-radius: 2vw;
    color: white;
    border: none;
    padding: 15px;
}

.register,
#register:hover {
    color: black;
    background-color: white;
    border: black solid 1px;
}

#platform {
    margin: 6px;
}

.card {

    margin: 60px;
    box-shadow: 1vw 1vw 1vw #491e1ebe;
    height: 29rem;
    right: -10%;
    padding-top: 5px;
    padding-bottom: 1px;
}

.shop {
    text-decoration: underline;
    font-size: 50px;
    top: -80px;
    padding-bottom: 40px;
}

.store-title {

    font-size: 35px;
    text-decoration: underline;
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(145, 21, 21);
    ;
    color: white;
}

.price {
    font-size: 19px;
}

.incart {
    margin: 80px;
    padding: 30rem;
}

.cartimg {
    width: 60px;
    height: auto;
}

.table {
    font-size: 22px;
    border: rgb(0, 0, 0) 9px;

}

.headings {
    text-decoration: underline;
    font-size: 26px;

}

.container {
    margin: 35px;
    padding: 70px;
    border: rgba(0, 0, 0, 0.753) solid 3px;
    box-shadow: 1vw 1vw #000000be;
    border-radius: 2vw;
    margin: 30px auto;
    background-color: white;

}

.btn-primary2 {
    background-color: rgb(145, 21, 21);
    font-size: 25px;
    margin-top: 70px;
    margin-right: -40px;
    color: white;
}

.btn-primary2:hover {
    color: black;
    background-color: white;
    border: black solid 1px;

}


.container2 {
    border: rgba(0, 0, 0, 0.753) solid 3px;
    box-shadow: 1vw 1vw #000000be;
    border-radius: 2vw;
    margin: 50px 150px 10px 150px;
    padding: 70px;
    font-size: 23px;
    background-color: white;
    right:100px;
}

.container3 {
    border: rgba(0, 0, 0, 0.753) solid 3px;
    box-shadow: 1vw 1vw #000000be;
    border-radius: 2vw;
    margin: 50px 150px 100px 150px;
    padding: 70px;
    font-size: 21px;
    background-color: white;

}

.btn-primary2 {
    float: right;
    margin: -150px 1500px 0px 0px;
    padding: 2rem;
    left: -50%;
}

.title2 {
    font-size: 40px
}

#checkout {
    background-color: rgb(145, 21, 21);
    font-size: 25px;
    color: white;
    padding: 20px 90px;
    margin-top: 30px;
    border: none;
    border-radius: 3vw;
}

.btn-primary {
    background-color: rgb(145, 21, 21);
    padding: 8px 74px;
}

.btn-primary:hover {
    color: black;
    background-color: white;
    border: black solid 1px;

}

.b-img {
    background-image: url(/images/wallpaper.jpg);
    background-color: rgb(214, 209, 198);
    height: 50vh;
    min-height: 1074px;
    background-size: contain;
}